//mobile
@media only screen and (max-device-width: 667px) {
  $color-share-item__text:#E6E6E6;
  .special-content__inner{
    padding: 4.5em 0;
  }
  .special-item__inner{
    padding: 32px 0;
  }
  .special-item{
    &+&{
      margin-top: 20px;
    }
    &__title, &__caption{
      max-width: 288px;
      min-width: 0;
  	}
    &__title{
      font-size: 22px;
      line-height: 118%;
    }
    &__caption{
      font-size: 15px;
      line-height: 147%;
      &_desktop{
        display: none;
      }
      &_mobile{
        display: block;
      }
    }
    &__code-delimiter{
      font-size: 15px;
    }
    &__info{
    }
    &__dots{
      height: 235px;
    }
    &__logo{
      margin-top: 32px;
    }
    &__share{
      margin-top: 15px;
    }
    &__share-text{
      margin-top: 80px;
  		&_mobile{
  			display: block;
  		}
  	}
    &__article{
      width: 296px;
  		height: 152px;
      background-position: center;
  		background-size: contain;
    }
  }
  .share-item{
    width: 0;
    padding: 0 21px;
    border: none;
    border-right: 1px solid $color-share-item__text;
    border-radius: 0;
    background: none;
    &:last-child{
      border-right: none
    }
  }

}

//mobile
@media only screen and (min-device-width: 667px) and (max-device-width: 1024px) {
  .special-content__inner{

  }
  .special-item__inner{

  }
  .special-item{
    &__title, &__caption{
  		padding: 0px 5%;
  	}
    &__title{

    }
    &__caption{

      &_desktop{

      }
      &_mobile{

      }
    }
    &__code-delimiter{

    }
    &__info{

    }
  }
}

// @media (min-device-width: 320px) {
//     body {
//         font-size: 1.05vw;
//     }
// }
