@media only screen and (max-device-width: 667px) {
  .special-content__inner {
    padding: 4.5em 0;
  }
  .special-item__inner {
    padding: 32px 0;
  }
  .special-item + .special-item {
    margin-top: 20px;
  }
  .special-item__octagon {
    border-radius: 2%;
  }
  .special-item__octagon_promo::before {
    border-bottom: 0;
  }
  .special-item__octagon_promo::after {
    border-top: 0;
  }
  .special-item__octagon_content::before {
    border-bottom: 0;
  }
  .special-item__octagon_content::after {
    border-top: 0;
  }
  .special-item__title, .special-item__caption {
    max-width: 288px;
    min-width: 0;
  }
  .special-item__title {
    font-size: 22px;
    line-height: 118%;
  }
  .special-item__caption {
    font-size: 15px;
    line-height: 147%;
  }
  .special-item__caption_desktop {
    display: none;
  }
  .special-item__caption_mobile {
    display: block;
  }
  .special-item__code-delimiter {
    font-size: 15px;
  }
  .special-item__dots {
    height: 235px;
  }
  .special-item__logo {
    margin-top: 32px;
  }
  .special-item__share {
    margin-top: 15px;
  }
  .special-item__share-text {
    margin-top: 80px;
  }
  .special-item__share-text_mobile {
    display: block;
  }
  .special-item__article {
    width: 296px;
    height: 152px;
    background-position: center;
    background-size: contain;
  }
  .share-item {
    width: 0;
    padding: 0 21px;
    border: none;
    border-right: 1px solid #E6E6E6;
    border-radius: 0;
    background: none;
  }
  .share-item:last-child {
    border-right: none;
  }
}

@media only screen and (min-device-width: 667px) and (max-device-width: 1024px) {
  .special-item__title, .special-item__caption {
    padding: 0px 5%;
  }
}
