@import "variables.scss";
@import "mixins.scss";

//mobile
@media only screen and (max-device-width: 667px) {
  $color-share-item__text:#E6E6E6;
  .special-content__inner{
    padding: 4.5em 0;
  }
  .special-item__inner{
    padding: 32px 0;
  }
  .special-item{
    &+&{
      margin-top: 20px;
    }
    &__octagon{
      border-radius: 2%;
      &_promo{
    		&::before{
    			border-bottom: 0;
    		}
    		&::after{
    			border-top: 0;
    		}
    	}
    	&_content{
    		&::before{
    			border-bottom: 0;
    		}
    		&::after{
    			border-top: 0;
    		}
    	}
    }
    &__title, &__caption{
      max-width: 288px;
      min-width: 0;
  	}
    &__title{
      font-size: 22px;
      line-height: 118%;
    }
    &__caption{
      font-size: 15px;
      line-height: 147%;
      &_desktop{
        display: none;
      }
      &_mobile{
        display: block;
      }
    }
    &__code-delimiter{
      font-size: 4vw;
      margin-top: 24px;
    }
    &__dots{
      height: 235px;
    }
    &__logo{
      margin-top: 32px;
    }
    &__share{
      margin-top: 15px;
    }
    &__share-text{
      margin-top: 80px;
  		&_mobile{
  			display: block;
  		}
  	}
    &__article{
      background-position: center;
      width: 100%;
      height: 50vw;
      padding: 30px;
      margin-bottom: 0;
      background-size: 100%, auto, contain;
    }
    &__article-box{
      width: 100%;
      padding: 12px;
      margin-bottom: 50px;
    }
  }
  .share-item{
    width: 0;
    padding: 0 21px;
    border: none;
    border-right: 1px solid $color-share-item__text;
    border-radius: 0;
    background: none;
    &:last-child{
      border-right: none
    }
  }
  .article-item{
    &__text{
      width: 100%;
      height: 100%;
      text-align: center;
    }
    &__caption{
      //width: 300px;
      font-size: 4vw;
      &_promo{
        align-self: center;
      }
    }
  }
}
//mobile menu
@media only screen and (min-device-width: 320px) and (max-device-width: 1440px) {

  .special-item{
    &__sidebar{
      display: none;
      width: 100%;
      padding:40px;
  		opacity:1;
  		position: static;
  		transform: translateY(0);
  		transition: opacity 0.5s;
      background: #FFFFFF;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      &-mobile{
        @include flexible_column();
        justify-content: flex-start;
        position: sticky;
        top: 0;
        left: unset;
        margin: 0 10% ;
        & > a{
          border-radius: 25%/100%;
          border-bottom: 0;
          width: 100%;
          &:hover{
            color: $color-sidebar-active;
          }
        }
        &_visible{
          display: block;
          transition: opacity 0.5s;
    		}
      }
    }
    &__top-popup{
      @include flexible_row();
      font-family: Formular;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      width:200px;
      height: 50px;
      margin: 24px 0;
      background: #FFFFFF;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 25%/100%;
      & > img{
        margin-right: 20px;
      }
      &_opened{
        justify-content: flex-start;
        width:100%;
        border-radius: 0;
        box-shadow: none;
        padding-left: 40px;
        align-items: center;
        padding: 40px;
        border-bottom: 1px solid $color-gray-text;
        text-transform:capitalize;
        font-weight: bold;
        font-size: 15px;
        transition: all 0.5s easy;
        border-radius: 4px 4px 0px 0px;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-device-width: 667px) and (max-device-width: 1440px) {

  .special-item{
    &__title, &__caption{
  		padding: 0px 5%;
  	}
  }
}
