* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/
body {
  color: black;
  background: black;
  font-size: 20px;
}

.content-overflow {
  width: 100%;
  height: 100%;
}

.special-content {
  font-family: 'Roboto Mono';
  font-style: normal;
  text-align: center;
}

.special-content__inner {
  margin: 0 auto;
  padding: 4.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-item__inner {
  width: 100%;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-item__octagon {
  width: 100%;
  position: relative;
  background: #FFF8EA;
  z-index: 2;
}

.special-item__octagon::before, .special-item__octagon::after {
  content: "";
  position: absolute;
  left: 0;
  border-left: 29px solid black;
  border-right: 29px solid black;
  width: 100%;
}

.special-item__octagon::before {
  top: 0;
}

.special-item__octagon::after {
  bottom: 0;
}

.special-item__octagon_promo::after, .special-item__octagon_promo::before {
  background: #FFF8EA;
  z-index: -1;
}

.special-item__octagon_promo::before {
  border-bottom: 1.5em solid #FFF8EA;
}

.special-item__octagon_promo::after {
  border-top: 1.5em solid #FFF8EA;
}

.special-item__octagon_content::after, .special-item__octagon_content::before {
  background: #F7F7F7;
  z-index: -1;
}

.special-item__octagon_content::before {
  border-bottom: 3em solid #F7F7F7;
}

.special-item__octagon_content::after {
  border-top: 3em solid #F7F7F7;
}

.special-item__promo {
  background-color: #FFF8EA;
}

.special-item__title, .special-item__caption {
  max-width: 948px;
  min-width: 360px;
}

.special-item__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.special-item__caption {
  font-weight: normal;
  font-size: 23px;
  line-height: 152%;
}

.special-item__caption_desktop {
  display: block;
}

.special-item__caption_mobile {
  display: none;
}

.special-item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 100%;
}

.special-item__info_content + .special-item__info_content {
  margin-top: 1.5em;
}

.special-item__dots {
  width: 100%;
  height: 325px;
  background: url(/svg/dots.svg) no-repeat;
  background-position: center;
  background-size: contain;
}

.special-item__share {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 62px;
}

.special-item__logo_promo {
  margin-top: 56px;
}

.special-item__share-text {
  font-family: Formular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 154%;
  text-align: center;
  color: #999999;
}

.special-item__share-text_mobile {
  display: none;
}

.special-item__text {
  font-size: 13px;
  line-height: 138%;
  color: #999999;
}

.special-item__content {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-item__sidebar, .special-item__article-list, .special-item__article-box, .special-item__point {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-item__sidebar {
  width: 200px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(150px);
  left: 150px;
  transition: opacity 0.5s;
}

.special-item__sidebar_visible {
  top: 0;
  transform: translateY(150px);
  position: fixed;
  left: 190px;
  opacity: 1;
  transition: opacity 0.5s;
}

.special-item__sidebar ul {
  list-style: disc;
}

.special-item__article-list {
  flex: 1 1 auto;
  width: 100%;
}

.special-item__article-box {
  margin-bottom: 2.5em;
}

.special-item__article {
  width: 575px;
  height: 330px;
  margin-top: 0.5em;
  margin-bottom: 2em;
  padding: 3.5em 1.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(/svg/article_border.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-flow: column wrap;
}

.special-item__article_promo {
  justify-content: flex-start;
}

.special-item__point {
  justify-content: center;
  border-radius: 50%;
  background: #EA6263;
  color: #FFFFFF;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
}

.special-item__point_disabled {
  background-color: #999999;
}

.sidebar-item_active {
  color: #EA6263;
}

.sidebar-item + .sidebar-item {
  margin-top: 1.5em;
}

.special-item + .special-item {
  margin-top: 50px;
}

.item__text_center {
  text-align: center;
}

.item__text_left {
  text-align: left;
}

.article-item__img {
  margin-right: 20px;
}

.article-item__img img {
  background-image: url(/svg/article_img.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.article-item__text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-item__text_left {
  align-items: flex-start;
  text-align: left;
}

.article-item__title {
  font-family: Formular;
  font-weight: bold;
  font-size: 21px;
  line-height: 133%;
  text-transform: uppercase;
}

.article-item__caption {
  margin-top: 1em;
  font-weight: normal;
  font-size: 17px;
  line-height: 153%;
}

.article-item__caption_promo {
  width: 295px;
  align-self: flex-start;
}

.article-item + .article-item {
  margin-left: 1em;
}

.share-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 1.5em;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
}

.share-item img {
  vertical-align: middle;
}

.share-item + .share-item {
  margin-left: 2px;
}

@media only screen and (max-device-width: 667px) {
  .special-content__inner {
    padding: 4.5em 0;
  }
  .special-item__inner {
    padding: 32px 0;
  }
  .special-item + .special-item {
    margin-top: 20px;
  }
  .special-item__octagon {
    border-radius: 2%;
  }
  .special-item__octagon_promo::before {
    border-bottom: 0;
  }
  .special-item__octagon_promo::after {
    border-top: 0;
  }
  .special-item__octagon_content::before {
    border-bottom: 0;
  }
  .special-item__octagon_content::after {
    border-top: 0;
  }
  .special-item__title, .special-item__caption {
    max-width: 288px;
    min-width: 0;
  }
  .special-item__title {
    font-size: 22px;
    line-height: 118%;
  }
  .special-item__caption {
    font-size: 15px;
    line-height: 147%;
  }
  .special-item__caption_desktop {
    display: none;
  }
  .special-item__caption_mobile {
    display: block;
  }
  .special-item__code-delimiter {
    font-size: 15px;
    margin-top: 24px;
  }
  .special-item__dots {
    height: 235px;
  }
  .special-item__logo {
    margin-top: 32px;
  }
  .special-item__share {
    margin-top: 15px;
  }
  .special-item__share-text {
    margin-top: 80px;
  }
  .special-item__share-text_mobile {
    display: block;
  }
  .special-item__article {
    width: 296px;
    height: 152px;
    background-position: center;
    background-size: contain;
  }
  .special-item__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .special-item__sidebar_mobile {
    display: block;
    left: unset;
    padding: 20px;
    background: #FFFFFF;
    /* Paper Shadow */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .special-item__top-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
  }
  .share-item {
    width: 0;
    padding: 0 21px;
    border: none;
    border-right: 1px solid #E6E6E6;
    border-radius: 0;
    background: none;
  }
  .share-item:last-child {
    border-right: none;
  }
  .article-item__text {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .article-item__caption {
    width: 300px;
  }
}

@media only screen and (min-device-width: 667px) and (max-device-width: 1024px) {
  .special-item__title, .special-item__caption {
    padding: 0px 5%;
  }
}
